<header>
    <nav class="navbar">
      <div class="logo">
        <img
          src="../public/assets/cover-removebg-preview.png"
          alt="Blaze LOGO"
        />
      </div>
      <div class="nav-links">
        <a id="nav-link1" href="/">Home</a>
        <a id="nav-link2" href="/recipes">Recipes</a>
        <a id="nav-link3" href="/about">About</a>
        <a id="nav-link4" href="/contact">Contact</a>
      </div>
      <div class="auth-buttons">
        <% if (user){ %>
        <a href="/user/logout" class="signup-btn">Logout</a>
        <% }else{ %>
        <a href="/login" class="login-btn">Login</a>
        <a href="/signup" class="signup-btn">Sign Up</a>
        <% } %>
      </div>
    </nav>
    <% if (message!=="") { %>
      <main class="auth-container">
        <div class="auth-card">
            <div class="auth-header">
                <div class="error-code">
                    Message
                </div>
                <p class="error-message">
                    <%= message%>
                </p>
            </div>
<!--   
            <img 
                src="../public/assets/error.svg" 
                alt="Error illustration" 
                class="error-image"
            >

            <div class="home-button">
                <a href="/" class="auth-button">
                    Back to Home
                </a>
            </div>
 -->
            <p class="auth-switch">
                Need help? 
                <a href="/contact">Contact Support</a>
            </p>
        </div>
    </main>
    <% } %>
  </header>