<body>
    <button class="hamburger-menu" id="hamburger" aria-label="Toggle menu">
        <span class="hamburger-icon"><img src="/public/assets/menu.svg" alt="" srcset=""></span>
    </button>
    <div class="sidebar-overlay" id="sidebarOverlay"></div>