<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>amin</title>
    <link
      rel="shortcut icon"
      href="../public/assets/favicon/favicon.ico"
      type="image/x-icon"
    />
</head>
<body>
  <%- include('./partials/header') %>
    <h1>User <%= user.username %></h1>
    <h2>Role <%= user.role %></h2>
    <script src="/public/js/sidebar.js"></script>
</body>
</html>