<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HO</title>
    <link rel="stylesheet" href="../public/css/home.css" />
    <link rel="stylesheet" href="../public/css/dashboard.css" />
</head>
<body>
    <h2><%= bye%></h2>
</body>
</html>